@tailwind base;
@tailwind components;
@tailwind utilities;

.targetAnimate{
  animation: animatetime 2s ease-out  infinite forwards ;
}
@keyframes animatetime {
  0%{
    opacity: 0;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity: 1;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
.target {
  font-kerning: none;
}
